{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Music From My T-Shirt{% endblock %}</title>
    {% block style %} {% endblock %}
  </head>
  <body>
    <h1>{% block heading %}Music From My T-Shirt{% endblock %}</h1>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% block content %} {% endblock %}

    <p><a href="{% url 'share_song' %}">Share a Song</a></p>
    {% if user.is_authenticated %}
    <p><a href="{% url 'user_profile' user.username %}">View Profile</a></p>
    <p><a href="{% url 'account_logout' %}">Sign Out</a></p>
    {% else %}
    <p>You are not logged in</p>
    <p><a href="{% url 'account_login' %}">Log In</a></p>
    <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
    {% endif %}
  </body>

  <script
    src="https://browser.sentry-cdn.com/5.12.4/bundle.min.js"
    integrity="sha384-1mOjLccPe18oBECej92DbE5SVA4k96pJSrB8Apra0TXOATvFxoAUleTrTxalU46I"
    crossorigin="anonymous"
  ></script>
  <script>
    Sentry.init({ dsn: "{{ sentry_dsn }}" });
  </script>
  <script>
    if (window.location.href.indexOf("no_fathom_tracking") !== -1) {
      document.cookie =
        "no_fathom_tracking=true; expires=Tue, 31 Dec 2030 23:59:59 UTC";
    }
    if (
      window.location.hostname === "{{ canonical_host }}" &&
      document.cookie.indexOf("no_fathom_tracking") === -1
    ) {
      (function (f, a, t, h, o, m) {
        a[h] =
          a[h] ||
          function () {
            (a[h].q = a[h].q || []).push(arguments);
          };
        (o = f.createElement("script")),
          (m = f.getElementsByTagName("script")[0]);
        o.async = 1;
        o.src = t;
        o.id = "fathom-script";
        m.parentNode.insertBefore(o, m);
      })(document, window, "https://cdn.usefathom.com/tracker.js", "fathom");
      fathom("set", "siteId", "WYYRREZY");
      fathom("trackPageview");
    }
  </script>
  {% block script %} {% endblock %}
</html>
