{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Music From My T-Shirt{% endblock %}</title>
    {% block style %} {% endblock %}
  </head>
  <body>
    <h1>{% block heading %}Music From My T-Shirt{% endblock %}</h1>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% block content %} {% endblock %}
  </body>

  <script
    src="https://browser.sentry-cdn.com/5.12.4/bundle.min.js"
    integrity="sha384-1mOjLccPe18oBECej92DbE5SVA4k96pJSrB8Apra0TXOATvFxoAUleTrTxalU46I"
    crossorigin="anonymous"
  ></script>
  <script>
    Sentry.init({ dsn: "{{ sentry_dsn }}" });
  </script>
  {% block script %} {% endblock %}
</html>
